<h1>詳細画面</h1>

<p>物件名: <%= @property.property_name %></p>
<p>賃料: <%= @property.rent %></p>
<p>住所: <%= @property.address %></p>
<p>築年数: <%= @property.age %></p>
<p>備考: <%= @property.memo %></p>

<hr>

<h2>最寄り駅1</h2>
<p>路線名: <%=@property.nearest_stations.last.route_name %></p>
<p>駅名: <%= @property.nearest_stations.last.station %></p>
<p>徒歩分数: <%= @property.nearest_stations.last.time %></p>
<h2>最寄り駅2</h2>
<p>路線名: <%= @property.nearest_stations.last.route_name %></p>
<p>駅名: <%= @property.nearest_stations.last.station %></p>
<p>徒歩分数: <%= @property.nearest_stations.last.time %></p>
